{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Admin paneel</h1>
    </div>
    <a href={{ path('artscontrolroute') }}><button>Artsen beheren</button></a>
    <button type="button" class="btn"> ={{ path('artscontrolroute') }}>Artsen beheren</button><br><br>
    <button class="btn" href={{ path("locationcontrolroute") }}>Locaties beheren</button><br><br>
    <button class="btn" href={{ path("locationartsroute") }}>Locatie van arts beheren</button>
{% endblock %}