{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Artsen beheren</h1>
    </div>
    <table class="table">
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>Adres</th>
        </tr>
    {% for result in results %}
        <tr>
            <td>{{ result.getNaam() }}</td>
            <td>{{ result.getActhernaam() }}</td>
            <td>{{ result.getEmail() }}</td>
            <td>{{ result.getAdress() }}</td>
        </tr>
    {% endfor   %}
    </table>


{% endblock %}