{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Locaties berheren</h1>
    </div>
    <button href={{ path("artscontrolroute") }}>Artsen beheren</button>
    <button href={{ path("locationcontrolroute") }}>Locaties beheren</button>
    <button href={{ path("locationartsroute") }}>Locatie van arts beheren</button>
{% endblock %}