{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Locaties beheren</h1>
    </div>
    <table class="table">
        <tr>
            <th>Lokaal Id</th>
            <th>Lokaal</th>
            <th>Adres</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.getId() }}</td>
                <td>{{ result.getLokaal() }}</td>
                <td>{{ result.getAdres() }}</td>
            </tr>
        {% endfor   %}
    </table>

{% endblock %}