{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Afspraak maken</h1>
    </div>
    {% set datum = '9:00'|date_modify('+' ~ dagindex ~ 'days +' ~ uurindex*30 ~ 'minutes') %}
    <h1>Afspraak op {{ datum|date('d F') }} om {{ datum|date('h:i') }}</h1>
    <h1>Bij dokter {{ arts }}</h1>
    <hr>
    <br>
    <form method="post" action={{ path('reserveerroute',{ 'uurindex': uurindex, 'dagindex': dagindex, 'arts':arts } ) }}>
        <h3>Symptonen</h3>
        <textarea cols="50" rows="8" name="opmerkingArea"></textarea><br>
        <input class="btn" type="submit" name="submit" value="Reservatie vastleggen" />
    </form>

{% endblock %}