{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Afspraak maken</h1>
    </div>
    <h1 class="text-center">{{  }}</h1>

{% endblock %}