{% extends 'base.html.twig' %}
{% block title %}login{% endblock %}

{% block body %}
    <form action="{{ path('checkroute') }}" method="post">
        <label for="userName">userName</label>
        <input type="text" id="userName"
               name="_userName" />
        <label for="userPassword">userPassword</label>
        <input type="password" id="userPassword"
               name="_userPassword" />
        <input type="submit" name="login" />
    </form>
{% endblock %}